@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron padding-top-25">
    <h2 class="text-center">Property Price Analyzer</h2>
    <p class="lead padding-top-25">This site is designed to help users analyze data from the government website 
        <a href="https://www.propertypriceregister.ie" class="">Residential Property Price Register</a>. The aim of this site is to provide 
    an easy to use interface for users to access the vast amount of data contained in the residential property price register database and 
    present it in graphs and maps giving a better understanding of the data.</p>
    <h3 class="padding-top-25">Features of the site:</h3>
    <h4 class="padding-top-25">Search</h4>
    <img src="~/Images/search2.jpg" id="keyth-image2" />
    <h4 class="padding-top-25">Combined Search</h4>
    <img src="~/Images/combined1.jpg" id="keyth-image2" />
    <img src="~/Images/combined2.jpg" id="keyth-image2" />
    <img src="~/Images/combined3.jpg" id="keyth-image2" />
    <h4 class="padding-top-25">Map Search</h4>
    <img src="~/Images/map1.jpg" id="keyth-image2"/>
    
</div>

<div>
    <p>
        The Residential
        Property Price Register is produced by the Property Services Regulatory Authority (PSRA) pursuant to section 86 of the
        Property Services (Regulation) Act 2011. It includes Date of Sale, Price and Address of all residential properties
        purchased in Ireland since the 1st January 2010, as declared to the Revenue Commissioners for stamp duty purposes.
    </p>
    <p>
        It is important to note that the Register is not intended as a "Property Price Index". In a small number of transactions included 
        in the Register the price shown does not represent the full market price of the property concerned for a variety of reasons. If the property 
        is a new property, the price shown does not include VAT at 13.5%.
    </p>
    <p>
        The PSRA does not in any way edit the data. It simply publishes, in a fully transparent manner, that which is filed.
        Where errors are discovered or reported to the Authority they will be brought to the attention of the Revenue Commissioners.
        If you notice any apparent errors in the data please let the PSRA know by emailing <b>info@psr.ie</b> .	
    </p>
</div>

