body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#toggle-postcode-dropdown{
    display:none;
}

#dates-dropdown2
{
    display:none;
}

#current-dates-dropdown1
{
    display:none;
}

#current-dates-dropdown2
{
    display:none;
}

.padding-top-25
{
    padding-top:25px;
}

.red-text
{
    color:red;
}

.padding-bottom-25
{
    padding-bottom:25px;
}

.table-panel
{
    padding-left:0;
    padding-right:0;
}

.border-1px
{
    border:1px solid #000000;
}

.editorRow{
    border:2px solid #E6E6FA;
}

#map 
{
    height: 500px;
    width:100%;
}

#red-colour
{
    color:red;
}

#green-colour
{
    color:green;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

@media only screen and (min-width : 768px) 
{

}